<h1> Blog <%= @blog.title %></h1>

<%= render 'flash_message' %>

<p>
 <%= @blog.summary %>
</p>

<p> <b> Keywords : </b> <%= @blog.keywords %> </p>

<p>
	<%= link_to "Back to Index", blogs_path %> |
	<%= link_to "Edit this Blog", edit_blog_path(@blog) %> |
	<%= link_to "Write a blog post", new_blog_blog_post_path(@blog) %>
</p>

<hr/>

<% @blog.blog_posts.each do |blog_post| %>
	<div>
		<%= blog_post.title %> <br/>
		<%= blog_post.description %> <br/>
		<%= link_to 'Read more', blog_blog_post_path(@blog, blog_post) %>	
	</div>
<% end %>
